target
.idea
.vscode
*.iml
*.ipr
*.iws
.DS_Store
*.log
logs
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*
.mvn
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/MavenWrapperDownloader.java
.maven
application-local.yml
application-local.properties
.env
.env.*
*.db
*.sqlite
*.sql
dump.rdb
.gradle
build
out
*.classpath
*.project
.settings
.factorypath
spring-beans.dtd
spring-configuration-metadata.json
